<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="day5.createuser"/>
      <class name="day5.getuser"/>
      <class name="day5.updateuser"/>
      <class name="day5.deleteuser"/>    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
